@use "../base/fonts" as font;
@use "../abstract/variables" as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: var.$main-font;
  background-color: var.$primary-color-green;
  color: var.$primary-color-white;
}
