@use "../abstract/variables" as var;
@use "../abstract/mixins" as mixin;
@use "../abstract/media" as *;

.header {
  background-color: var.$primary-color-green;
  color: var.$primary-color-white;
  position: relative;

  &__logo {
    display: inline-block;

    @include media(992px) {
      img {
        width: 159px;
        height: 40px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 40px;

    @include media(768px) {
      padding-block: 64px;
      justify-content: start;
      gap: 48px;
    }
  }

  &__menu-btn {
    background-color: transparent;
    border: transparent;
    width: 20px;
    height: 17px;
    background-image: url("../../assets/images/open-menu-btn.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;

    @include media(768px) {
      display: none;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    opacity: 40%;
    z-index: 1;
    display: none;
  }

  &__navigation {
    position: fixed;
    background-color: var.$secondary-color-darkerBlue;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 60px;
    padding-inline: 48px;
    transform: translateX(100%);
    transition: ease-out 0.4s;
    z-index: 20;

    @include media(768px) {
      width: 100%;
      position: static;
      transform: translateX(0);
      background-color: initial;
      height: 0;
      padding-top: 0;
      padding-inline: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &::after {
      content: "";
      background-image: url(../../assets/images/menu-open-position-element.png);
      position: absolute;
      width: 100px;
      height: 200px;
      background-repeat: no-repeat;
      bottom: 0;
      right: 0;
      z-index: 1;

      @include media(768px) {
        display: none;
      }
    }
  }
}

@include media(768px) {
  .container {
    padding-inline: 20px;
  }
}

.navbar {
  @include media(768px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include mixin.list-unstyled;
    padding-top: 39px;
    padding-bottom: 36px;
    z-index: 15;

    @include media(768px) {
      flex-direction: row;
    }
  }

  &__link {
    text-decoration-line: none;
    font-weight: 600;
    color: var.$primary-color-white;
    cursor: pointer;
    transition: ease 0.4s;

    @include media(768px) {
      &:hover {
        color: var.$primary-color-coral;
      }
    }
  }

  &__contact-us {
    text-decoration-line: none;
    display: block;

    @include mixin.btn-style(
      transparent,
      #fff,
      18px,
      20px,
      2px solid #ffff,
      9px 34px,
      #ffff,
      #002529,
      2px solid #fff,
      transparent,
      #406367,
      #406367
    );
  }
}

.menu-show {
  transform: translateX(0);
}
