.manage-section {
    padding-block: 64px;
    background-image: url("/assets/font/home-images/group8.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: .1px;
    background-color: #012F34;
}

.manage-section__title {
    @include main-text-style(32px, 700, 32px, #fff, left);
    font-family: $main-font;
}

.manage-section__title-wrapper {
    @include flex-box(flex, column, null, flex-start, 32px);
    width: 220px;
    margin-bottom: 56px;
}

.manage-title__top-span {
    width: 50px;
    height: 4px;
    background-color: $primary-color-coral;
}

.manage-section__list {
    @include flex-box (flex, column, null, null, 48px);
    @include list-unstyled;
}

.manage-section__item {
    @include flex-box(flex, column, null, center, 16px);
}

.manage-section__item-title {
    @include main-text-style(18px, 700, 28px, $primary-color-coral, center);
    font-family: $main-font
}

.manage-section__item-desc {
    @include main-text-style(15px, 600, 25px, $primary-color-white, center);
    font-family: $main-font;
}



// media queries 

@media only screen and (min-width: 768px) {

    .manage-section {
        padding: 100px 98px;
    }
    
    .manage-section__title {
        @include main-text-style(32px, 700, 32px, null, null);
    }
    
    .manage-section__title-wrapper {
        margin-bottom: 64px;
    }
    
    .manage-section__item {
        @include flex-box(flex, row, null, flex-start, 23px);
    }

    .manage-section__item-title {
        text-align: left;
        margin-bottom: 16px;
    }

    .manage-section__item-desc {
        text-align: left;
    }

    .manage-section__item-content {
        width: 460px;
    }

    
}

@media only screen and (min-width: 992px) {

    .manage-section {
        padding: 140px 145px;
        background-position-y: 410px;
    }

    .manage-section__inner {
        @include flex-box(flex, row, space-between, flex-start, null);
    }

    .manage-section__title-wrapper {
        width: 320px;
    }

}