// primary vaers

$primary-color-green: #014e56;
$primary-color-coral: #f67e7e;
$primary-color-white: #ffff;

// secondary color

$secondary-color-lightBlue: #79c8c7;
$secondary-color-darkerBlue: #2c6269;
$secondary-color-deepGreen: #004047;
$secondary-color-sacramentoGreen: #012f34;
$secondary-color-darkGreen: #002529;

// font

$main-font: "Livvic";
